<html>
    <head>
        <title>list Page</title>
    </head>
    <body>
        <h1>list view Page</h1>
        <% list.forEach(obj => { %>
            <div><%=obj.name%></div>
        <% }); %>
    </body>
</html>